<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/jquery-json/2.5.1/jquery.json.min.js"></script>
<script src="/javascripts/moviehandle.js"></script>
</body>
</html>