<% include header.ejs %>
<div class="indexContainer">
    <div class="jumbotron">
        <div class="indexInnerContainer">
            <h2>Hello, Welcome to Movies world!</h2>
            <p>
                <url>
                    <li><h4>You may add movies to the local mongoDB.</h4></li>
                    <li><h4>You may review single movie detail.</h4></li>
                    <li><h4>You may obtain the movie list with AngularJS binding.</h4></li>
                </url>
            </p>
            <p><a class="btn btn-primary btn-lg" href="/login" role="button">LOGIN</a></p>
        </div>
    </div>
</div>
<% include footer.ejs %>